--
-- PostgreSQL database cluster dump
--

\restrict QCC4kp6sws03L8YeWguLdYeeWR4HEByf4g0toIkubWBqGTkWBs6ppfj29HizIyj

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:4dLBIRTnTPbXNl6xUbCQVA==$JBBI38/Ye/bHAp/g4uF7CnaQUT6iP/5tEqCn7vW/iQc=:Bolvfe8XiDmFiU0KEWfLrWoOBDjJwXwfYJPrwroNUtY=';

--
-- User Configurations
--








\unrestrict QCC4kp6sws03L8YeWguLdYeeWR4HEByf4g0toIkubWBqGTkWBs6ppfj29HizIyj

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict 3FyXH2Du2pE1e7QiwddCo0dpcOwChUcsKCL1Qvi9tbaJMaJChuY9Io8KSf4LRDy

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict 3FyXH2Du2pE1e7QiwddCo0dpcOwChUcsKCL1Qvi9tbaJMaJChuY9Io8KSf4LRDy

--
-- Database "coach_auth" dump
--

--
-- PostgreSQL database dump
--

\restrict bzE1UFAETYppmycsCBW1G4m6qN6BQfH92RJk74Sl0P5r3h9xXp4ldSbvWhWPS3E

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: coach_auth; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE coach_auth WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE coach_auth OWNER TO postgres;

\unrestrict bzE1UFAETYppmycsCBW1G4m6qN6BQfH92RJk74Sl0P5r3h9xXp4ldSbvWhWPS3E
\connect coach_auth
\restrict bzE1UFAETYppmycsCBW1G4m6qN6BQfH92RJk74Sl0P5r3h9xXp4ldSbvWhWPS3E

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    full_name character varying(100) NOT NULL,
    email character varying(120) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone,
    last_login_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.flyway_schema_history (installed_rank, version, description, type, script, checksum, installed_by, installed_on, execution_time, success) FROM stdin;
1	1	create users table	SQL	V1__create_users_table.sql	1261029036	postgres	2026-03-11 06:57:41.193254	165	t
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, full_name, email, password_hash, role, created_at, updated_at, last_login_at) FROM stdin;
ffb476db-0bce-4e49-9bdb-c55ad3a28e24	Varun Deoghare	varun.deoghare@gmail.com	$2a$10$c158uhRy8ZWvpNiGlW710OxJq5WIGCRR7Gcz1RwtSaowWz3EXnRtq	COACH	2026-03-11 06:58:54.663743	\N	2026-05-18 14:05:24.486012
\.


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- PostgreSQL database dump complete
--

\unrestrict bzE1UFAETYppmycsCBW1G4m6qN6BQfH92RJk74Sl0P5r3h9xXp4ldSbvWhWPS3E

--
-- Database "coach_billing" dump
--

--
-- PostgreSQL database dump
--

\restrict drgNyYdUWj06N4aXrl35abcLsf9sUDzLsihVgdBZq2IuZCvORL2QngHot5LHCrK

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: coach_billing; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE coach_billing WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE coach_billing OWNER TO postgres;

\unrestrict drgNyYdUWj06N4aXrl35abcLsf9sUDzLsihVgdBZq2IuZCvORL2QngHot5LHCrK
\connect coach_billing
\restrict drgNyYdUWj06N4aXrl35abcLsf9sUDzLsihVgdBZq2IuZCvORL2QngHot5LHCrK

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id uuid NOT NULL,
    member_id uuid NOT NULL,
    coach_email character varying(120) NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_date date,
    mode character varying(50) NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    gateway character varying(50),
    gateway_order_id character varying(100),
    gateway_payment_id character varying(100),
    gateway_signature character varying(200),
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscriptions (
    id uuid NOT NULL,
    member_id uuid NOT NULL,
    coach_email character varying(120) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.subscriptions OWNER TO postgres;

--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- PostgreSQL database dump complete
--

\unrestrict drgNyYdUWj06N4aXrl35abcLsf9sUDzLsihVgdBZq2IuZCvORL2QngHot5LHCrK

--
-- Database "coach_checkin" dump
--

--
-- PostgreSQL database dump
--

\restrict b2pwEtaJmlPrPh4AWQtjnGNJgBIeQZaoFZbnorGaN3e7O9VOsvMu2K0FJDjtkRJ

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: coach_checkin; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE coach_checkin WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE coach_checkin OWNER TO postgres;

\unrestrict b2pwEtaJmlPrPh4AWQtjnGNJgBIeQZaoFZbnorGaN3e7O9VOsvMu2K0FJDjtkRJ
\connect coach_checkin
\restrict b2pwEtaJmlPrPh4AWQtjnGNJgBIeQZaoFZbnorGaN3e7O9VOsvMu2K0FJDjtkRJ

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: checkin_photos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checkin_photos (
    id uuid NOT NULL,
    check_in_id uuid NOT NULL,
    file_name character varying(255) NOT NULL,
    mime_type character varying(100) NOT NULL,
    size bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.checkin_photos OWNER TO postgres;

--
-- Name: checkins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checkins (
    id uuid NOT NULL,
    member_id uuid NOT NULL,
    coach_email character varying(120) NOT NULL,
    check_in_date date NOT NULL,
    weight numeric(5,2),
    compliance integer,
    energy integer,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.checkins OWNER TO postgres;

--
-- Name: daily_member_checkins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_member_checkins (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    member_id uuid NOT NULL,
    coach_email character varying(255) NOT NULL,
    check_in_date date NOT NULL,
    exercise_done boolean DEFAULT false NOT NULL,
    steps_count integer,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.daily_member_checkins OWNER TO postgres;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: measurements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.measurements (
    id uuid NOT NULL,
    check_in_id uuid NOT NULL,
    measurement_name character varying(50) NOT NULL,
    value numeric(6,2) NOT NULL
);


ALTER TABLE public.measurements OWNER TO postgres;

--
-- Name: progress_checkin_photos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progress_checkin_photos (
    id uuid NOT NULL,
    check_in_id uuid NOT NULL,
    type character varying(20) NOT NULL,
    file_name character varying(255) NOT NULL,
    mime_type character varying(100) NOT NULL,
    size bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.progress_checkin_photos OWNER TO postgres;

--
-- Name: progress_checkins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progress_checkins (
    id uuid NOT NULL,
    member_id uuid NOT NULL,
    coach_email character varying(120) NOT NULL,
    weight numeric(6,2),
    diet_adherence integer,
    energy integer,
    steps_avg integer,
    notes text,
    submitted_at timestamp without time zone NOT NULL,
    exercise_rating integer
);


ALTER TABLE public.progress_checkins OWNER TO postgres;

--
-- Data for Name: checkin_photos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.checkin_photos (id, check_in_id, file_name, mime_type, size, created_at) FROM stdin;
\.


--
-- Data for Name: checkins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.checkins (id, member_id, coach_email, check_in_date, weight, compliance, energy, notes, created_at) FROM stdin;
\.


--
-- Data for Name: daily_member_checkins; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: measurements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.measurements (id, check_in_id, measurement_name, value) FROM stdin;
\.


--
-- Data for Name: progress_checkin_photos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: progress_checkins; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: checkin_photos checkin_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkin_photos
    ADD CONSTRAINT checkin_photos_pkey PRIMARY KEY (id);


--
-- Name: checkins checkins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkins
    ADD CONSTRAINT checkins_pkey PRIMARY KEY (id);


--
-- Name: daily_member_checkins daily_member_checkins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_member_checkins
    ADD CONSTRAINT daily_member_checkins_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: measurements measurements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT measurements_pkey PRIMARY KEY (id);


--
-- Name: progress_checkin_photos progress_checkin_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_checkin_photos
    ADD CONSTRAINT progress_checkin_photos_pkey PRIMARY KEY (id);


--
-- Name: progress_checkins progress_checkins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_checkins
    ADD CONSTRAINT progress_checkins_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_daily_member_checkins_member_coach_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_daily_member_checkins_member_coach_date ON public.daily_member_checkins USING btree (member_id, coach_email, check_in_date);


--
-- Name: idx_progress_checkin_photos_checkin_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_progress_checkin_photos_checkin_id ON public.progress_checkin_photos USING btree (check_in_id);


--
-- Name: ux_daily_member_checkins_member_date_coach; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_daily_member_checkins_member_date_coach ON public.daily_member_checkins USING btree (member_id, check_in_date, coach_email);


--
-- Name: checkin_photos checkin_photos_check_in_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkin_photos
    ADD CONSTRAINT checkin_photos_check_in_id_fkey FOREIGN KEY (check_in_id) REFERENCES public.checkins(id) ON DELETE CASCADE;


--
-- Name: measurements measurements_check_in_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT measurements_check_in_id_fkey FOREIGN KEY (check_in_id) REFERENCES public.checkins(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict b2pwEtaJmlPrPh4AWQtjnGNJgBIeQZaoFZbnorGaN3e7O9VOsvMu2K0FJDjtkRJ

--
-- Database "coach_diet" dump
--

--
-- PostgreSQL database dump
--

\restrict sB6iwq5bjwy6I6vxaP8gz3xTGWpoCuTyWhMyPYSsHEGMBVZPDTXaCqHY4ACIRSs

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: coach_diet; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE coach_diet WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE coach_diet OWNER TO postgres;

\unrestrict sB6iwq5bjwy6I6vxaP8gz3xTGWpoCuTyWhMyPYSsHEGMBVZPDTXaCqHY4ACIRSs
\connect coach_diet
\restrict sB6iwq5bjwy6I6vxaP8gz3xTGWpoCuTyWhMyPYSsHEGMBVZPDTXaCqHY4ACIRSs

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: diet_plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.diet_plans (
    id uuid NOT NULL,
    member_id uuid NOT NULL,
    coach_email character varying(120) NOT NULL,
    title character varying(100) NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone
);


ALTER TABLE public.diet_plans OWNER TO postgres;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: food_library_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.food_library_items (
    id uuid NOT NULL,
    food_item character varying(200) NOT NULL,
    calories numeric(10,2) NOT NULL,
    carbs numeric(10,2) NOT NULL,
    protein numeric(10,2) NOT NULL,
    fats numeric(10,2) NOT NULL,
    category character varying(30) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone,
    CONSTRAINT food_library_items_calories_check CHECK ((calories >= (0)::numeric)),
    CONSTRAINT food_library_items_carbs_check CHECK ((carbs >= (0)::numeric)),
    CONSTRAINT food_library_items_fats_check CHECK ((fats >= (0)::numeric)),
    CONSTRAINT food_library_items_protein_check CHECK ((protein >= (0)::numeric))
);


ALTER TABLE public.food_library_items OWNER TO postgres;

--
-- Name: meal_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.meal_items (
    id uuid NOT NULL,
    meal_id uuid NOT NULL,
    food_name character varying(200) NOT NULL,
    unit character varying(50),
    quantity integer,
    protein integer,
    carbs integer,
    fat integer,
    calories integer
);


ALTER TABLE public.meal_items OWNER TO postgres;

--
-- Name: meals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.meals (
    id uuid NOT NULL,
    plan_id uuid NOT NULL,
    meal_name character varying(100) NOT NULL,
    order_index integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.meals OWNER TO postgres;

--
-- Data for Name: diet_plans; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: food_library_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: meal_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: meals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: diet_plans diet_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diet_plans
    ADD CONSTRAINT diet_plans_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: food_library_items food_library_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.food_library_items
    ADD CONSTRAINT food_library_items_pkey PRIMARY KEY (id);


--
-- Name: meal_items meal_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meal_items
    ADD CONSTRAINT meal_items_pkey PRIMARY KEY (id);


--
-- Name: meals meals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meals
    ADD CONSTRAINT meals_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_food_library_items_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_food_library_items_category ON public.food_library_items USING btree (category);


--
-- Name: idx_food_library_items_food_item; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_food_library_items_food_item ON public.food_library_items USING btree (food_item);


--
-- Name: meal_items meal_items_meal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meal_items
    ADD CONSTRAINT meal_items_meal_id_fkey FOREIGN KEY (meal_id) REFERENCES public.meals(id);


--
-- Name: meals meals_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meals
    ADD CONSTRAINT meals_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.diet_plans(id);


--
-- PostgreSQL database dump complete
--

\unrestrict sB6iwq5bjwy6I6vxaP8gz3xTGWpoCuTyWhMyPYSsHEGMBVZPDTXaCqHY4ACIRSs

--
-- Database "coach_member" dump
--

--
-- PostgreSQL database dump
--

\restrict Q2LHQ7e7vsBHZcAQlp7uEd1X8gz1rqHQzdpsI2onyE8vOgKdJk0o5iMYjrsAkzG

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: coach_member; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE coach_member WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE coach_member OWNER TO postgres;

\unrestrict Q2LHQ7e7vsBHZcAQlp7uEd1X8gz1rqHQzdpsI2onyE8vOgKdJk0o5iMYjrsAkzG
\connect coach_member
\restrict Q2LHQ7e7vsBHZcAQlp7uEd1X8gz1rqHQzdpsI2onyE8vOgKdJk0o5iMYjrsAkzG

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: body_metrics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.body_metrics (
    id uuid NOT NULL,
    member_id uuid NOT NULL,
    height_cm double precision NOT NULL,
    current_weight_kg double precision NOT NULL,
    gender character varying(20) NOT NULL,
    age integer NOT NULL,
    is_lean boolean NOT NULL,
    activity_factor double precision NOT NULL,
    protein_rda double precision NOT NULL,
    carb_factor double precision NOT NULL,
    target_goal character varying(20) NOT NULL,
    target_calorie_factor double precision NOT NULL,
    ibw_kg double precision NOT NULL,
    bmi double precision NOT NULL,
    bmr double precision NOT NULL,
    tdee double precision NOT NULL,
    target_calories double precision NOT NULL,
    protein_grams double precision NOT NULL,
    carbs_grams double precision NOT NULL,
    fats_grams double precision NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone,
    CONSTRAINT chk_body_metrics_goal CHECK (((target_goal)::text = ANY ((ARRAY['FAT_LOSS'::character varying, 'MAINTENANCE'::character varying, 'GAINING'::character varying])::text[])))
);


ALTER TABLE public.body_metrics OWNER TO postgres;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.members (
    id uuid NOT NULL,
    coach_email character varying(120) NOT NULL,
    full_name character varying(100) NOT NULL,
    email character varying(100),
    phone character varying(20),
    gender character varying(20),
    date_of_birth date,
    goal text,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone,
    age integer,
    country character varying(100),
    state_city_province character varying(120),
    height_cm integer,
    current_weight_kg integer,
    main_training_goal text,
    previous_weight_loss text,
    weight_regain character varying(50),
    prior_training_experience text,
    daily_training_commitment_hours character varying(50),
    preferred_workout_timing character varying(50),
    days_per_week_train integer,
    personal_training_before character varying(50),
    goal_reward text,
    additional_info text,
    alcohol_consumption text,
    smoking_habits text,
    supplements_past character varying(50),
    steroid_usage character varying(50),
    stress_level integer,
    sleep_hours character varying(30),
    past_sports_activity text,
    food_preference character varying(80),
    activity_level character varying(80),
    typical_day text,
    current_diet_plan text,
    favorite_foods text,
    food_allergies text,
    medical_condition text,
    injuries text,
    medical_conditions_detailed text,
    push_up text,
    squat text,
    row_band_dumbbell text,
    overhead_press_dumbbell text,
    hip_hinge_rdl text,
    front_view text,
    side_view text,
    back_view text,
    status character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL,
    CONSTRAINT chk_members_status CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.members OWNER TO postgres;

--
-- Data for Name: body_metrics; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: body_metrics body_metrics_member_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.body_metrics
    ADD CONSTRAINT body_metrics_member_id_key UNIQUE (member_id);


--
-- Name: body_metrics body_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.body_metrics
    ADD CONSTRAINT body_metrics_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: members members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: ix_members_coach_email_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_members_coach_email_email ON public.members USING btree (coach_email, lower((email)::text)) WHERE (email IS NOT NULL);


--
-- Name: body_metrics fk_body_metrics_member; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.body_metrics
    ADD CONSTRAINT fk_body_metrics_member FOREIGN KEY (member_id) REFERENCES public.members(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Q2LHQ7e7vsBHZcAQlp7uEd1X8gz1rqHQzdpsI2onyE8vOgKdJk0o5iMYjrsAkzG

--
-- Database "coach_notification" dump
--

--
-- PostgreSQL database dump
--

\restrict vjBpj0S0mZImXFaFdHThHUHYXelUfalVihkUYWHNbEu7CMUJizWkanKvaht7QtK

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: coach_notification; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE coach_notification WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE coach_notification OWNER TO postgres;

\unrestrict vjBpj0S0mZImXFaFdHThHUHYXelUfalVihkUYWHNbEu7CMUJizWkanKvaht7QtK
\connect coach_notification
\restrict vjBpj0S0mZImXFaFdHThHUHYXelUfalVihkUYWHNbEu7CMUJizWkanKvaht7QtK

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    member_id uuid NOT NULL,
    coach_email character varying(255) NOT NULL,
    channel character varying(20) NOT NULL,
    notification_type character varying(40) NOT NULL,
    recipient character varying(255) NOT NULL,
    subject character varying(255),
    message text NOT NULL,
    status character varying(20) NOT NULL,
    error_message text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, member_id, coach_email, channel, notification_type, recipient, subject, message, status, error_message, created_at, updated_at) FROM stdin;
\.


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_notifications_channel; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_channel ON public.notifications USING btree (channel);


--
-- Name: idx_notifications_coach_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_coach_email ON public.notifications USING btree (coach_email);


--
-- Name: idx_notifications_member_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_member_id ON public.notifications USING btree (member_id);


--
-- Name: idx_notifications_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_status ON public.notifications USING btree (status);


--
-- PostgreSQL database dump complete
--

\unrestrict vjBpj0S0mZImXFaFdHThHUHYXelUfalVihkUYWHNbEu7CMUJizWkanKvaht7QtK

--
-- Database "coach_workout" dump
--

--
-- PostgreSQL database dump
--

\restrict pQwvENbznCQf11yRkAuL5liZdWv6cEr1uAzTlvSlRDPcQxU3QcJseePUSwfLNHw

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: coach_workout; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE coach_workout WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE coach_workout OWNER TO postgres;

\unrestrict pQwvENbznCQf11yRkAuL5liZdWv6cEr1uAzTlvSlRDPcQxU3QcJseePUSwfLNHw
\connect coach_workout
\restrict pQwvENbznCQf11yRkAuL5liZdWv6cEr1uAzTlvSlRDPcQxU3QcJseePUSwfLNHw

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: exercise_library; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercise_library (
    id uuid NOT NULL,
    coach_email character varying(120) NOT NULL,
    exercise_name character varying(100) NOT NULL,
    video_url text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone,
    sr_no integer NOT NULL,
    muscle_group character varying(100) NOT NULL,
    muscles_trained character varying(255)
);


ALTER TABLE public.exercise_library OWNER TO postgres;

--
-- Name: exercise_sets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercise_sets (
    id uuid NOT NULL,
    exercise_id uuid NOT NULL,
    set_number integer NOT NULL,
    reps character varying(20),
    weight numeric(10,2),
    rpe numeric(3,1),
    tempo character varying(20),
    rest character varying(20)
);


ALTER TABLE public.exercise_sets OWNER TO postgres;

--
-- Name: exercises; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercises (
    id uuid NOT NULL,
    day_id uuid NOT NULL,
    name character varying(100) NOT NULL,
    notes text,
    video_url text,
    muscles_trained character varying(255),
    muscle_group character varying(255)
);


ALTER TABLE public.exercises OWNER TO postgres;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: member_exercise_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member_exercise_assignments (
    id uuid NOT NULL,
    library_exercise_id uuid NOT NULL,
    member_id uuid NOT NULL,
    coach_email character varying(120) NOT NULL,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.member_exercise_assignments OWNER TO postgres;

--
-- Name: workout_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workout_assignments (
    id uuid NOT NULL,
    plan_id uuid NOT NULL,
    member_id uuid NOT NULL,
    coach_email character varying(120) NOT NULL,
    active boolean NOT NULL,
    assigned_at timestamp without time zone NOT NULL
);


ALTER TABLE public.workout_assignments OWNER TO postgres;

--
-- Name: workout_days; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workout_days (
    id uuid NOT NULL,
    plan_id uuid NOT NULL,
    day_name character varying(100) NOT NULL
);


ALTER TABLE public.workout_days OWNER TO postgres;

--
-- Name: workout_plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workout_plans (
    id uuid NOT NULL,
    member_id uuid NOT NULL,
    coach_email character varying(120) NOT NULL,
    title character varying(100) NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone
);


ALTER TABLE public.workout_plans OWNER TO postgres;

--
-- Data for Name: exercise_library; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: exercise_sets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: exercises; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: member_exercise_assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.member_exercise_assignments (id, library_exercise_id, member_id, coach_email, assigned_at) FROM stdin;
\.


--
-- Data for Name: workout_assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workout_days; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workout_plans; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: exercise_library exercise_library_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercise_library
    ADD CONSTRAINT exercise_library_pkey PRIMARY KEY (id);


--
-- Name: exercise_sets exercise_sets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercise_sets
    ADD CONSTRAINT exercise_sets_pkey PRIMARY KEY (id);


--
-- Name: exercises exercises_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises
    ADD CONSTRAINT exercises_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: member_exercise_assignments member_exercise_assignments_library_exercise_id_member_id_c_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_exercise_assignments
    ADD CONSTRAINT member_exercise_assignments_library_exercise_id_member_id_c_key UNIQUE (library_exercise_id, member_id, coach_email);


--
-- Name: member_exercise_assignments member_exercise_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_exercise_assignments
    ADD CONSTRAINT member_exercise_assignments_pkey PRIMARY KEY (id);


--
-- Name: workout_assignments workout_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout_assignments
    ADD CONSTRAINT workout_assignments_pkey PRIMARY KEY (id);


--
-- Name: workout_days workout_days_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout_days
    ADD CONSTRAINT workout_days_pkey PRIMARY KEY (id);


--
-- Name: workout_plans workout_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout_plans
    ADD CONSTRAINT workout_plans_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: exercise_sets exercise_sets_exercise_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercise_sets
    ADD CONSTRAINT exercise_sets_exercise_id_fkey FOREIGN KEY (exercise_id) REFERENCES public.exercises(id);


--
-- Name: exercises exercises_day_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises
    ADD CONSTRAINT exercises_day_id_fkey FOREIGN KEY (day_id) REFERENCES public.workout_days(id);


--
-- Name: member_exercise_assignments member_exercise_assignments_library_exercise_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_exercise_assignments
    ADD CONSTRAINT member_exercise_assignments_library_exercise_id_fkey FOREIGN KEY (library_exercise_id) REFERENCES public.exercise_library(id);


--
-- Name: workout_days workout_days_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout_days
    ADD CONSTRAINT workout_days_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.workout_plans(id);


--
-- PostgreSQL database dump complete
--

\unrestrict pQwvENbznCQf11yRkAuL5liZdWv6cEr1uAzTlvSlRDPcQxU3QcJseePUSwfLNHw

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict TsC3yDJIaK3VEtruJSbIL4HrvrPEdWf2TzyyTLAzD3jjaIlXdvSwjpf4m3HKFTA

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict TsC3yDJIaK3VEtruJSbIL4HrvrPEdWf2TzyyTLAzD3jjaIlXdvSwjpf4m3HKFTA

--
-- PostgreSQL database cluster dump complete
--

